

.cardapio{

    width: 100vw;
    height: 100%;
    background-color: var(--color-primary-1);
  

}

#title-cardapio{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primary-6);
    text-align: center;
}
#subtitle-cardapio{
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-neutral-1);
    margin-bottom: 2rem;
    text-align: center;
}

.dishes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}